# =========================
# DATABASE
# =========================
DATABASE_URL=postgresql://user:password@host:port/database

# =========================
# N8N WEBHOOKS
# =========================
N8N_WEBHOOK_URL=https://n8n.srv1506847.hstgr.cloud/webhook/f45d20a0-6906-47ec-925f-f7f07e99d714